::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

ul {
    list-style: none;
}

#rectangle {
    width: 1920px;
    height: 718px;
    display: block;
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
}

#topbar {

}

#upGroupIcon {
    margin-top: 45px;
}

.groupIcon {
    margin-left: 207px;
    display: inline-block;
}

#line {
    width: 0;
    height: 14px;
    margin-left: 67px;
    margin-top: 46px;
    border: 1px solid #A9C5E0;
    display: inline-block;
}

#textShortDescription {
    width: 400px;
    margin-left: 40px;
    margin-top: 43px;
    font-family: Proxima Nova, sans-serif;
    font-size: 13px;
    color: #A9C5E0;
    display: inline-block;
}

#phoneVector {
    width: 19px;
    margin-left: 400px;
    margin-top: 46px;
    display: inline-block;
}

#phoneNumber {
    width: 195px;
    font-family: Proxima Nova, sans-serif;
    margin-left: 16px;
    margin-top: 43px;
    font-size: 13px;
    color: #A9C5E0;
    display: inline-block;
}

#signButton {
    width: 227px;
    height: 52px;
    margin-left: 37px;
    margin-top: 27px;
    border: 1px solid #E5E31F;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
}

#signText {
    margin: 15px 0;
    font-family: Proxima Nova, sans-serif;
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    color: #E5E31F;
}

#firstPage {
    display: inline-block;
}

.titleText {
    width: 880px;
    height: 128px;
    margin-left: 180px;
    margin-top: 178px;

    font-family: Proxima Nova, sans-serif;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    align-items: center;

    color: #FFFFFF;
    display: inline-block;
}

.smallText {
    width: 880px;
    height: 48px;
    margin-left: 180px;
    margin-top: 18px;

    font-family: Proxima Nova, sans-serif;
    font-size: 16px;
    line-height: 24px;
    /*align-items: center;*/

    color: #FFFFFF;
    display: inline-block;
}

#orderButton {
    width: 320px;
    height: 52px;
    margin-left: 180px;
    margin-top: 87px;
    margin-right: 560px;

    background: #E5E31F;
    border-radius: 10px;
    display: inline-block;
}

#orderText {
    width: 100%;

    font-family: Proxima Nova, sans-serif;
    font-size: 18px;
    line-height: 22px;
    bottom: -4px;
    float: left;
    align-items: center;
    text-align: center;

    color: #2A4F71;
    display: inline-block;
}

.imageRectRight {
    width: auto;
    height: 612px;
    margin-top: 22px;
    margin-right: 180px;
    float: right;
    display: inline-block;
}

#clickedButtons {
    margin-top: 77px;
    margin-left: 960px;
    display: inline-block;
}

#cbutton1 {
    width: 14px;
    height: 14px;
    margin-top: 77px;
    margin-left: 936px;
    display: inline-block;
}

#cbutton2 {
    width: 14px;
    height: 14px;
    margin-left: 8px;
    display: inline-block;
}

.clickedButton {
    background: #346491;
    border-radius: 3px;
}

.notClickedButton {
    cursor: pointer;
    background: #264160;
    border-radius: 4px;
}

#motivationText {
    width: 1560px;
    height: 34px;
    margin-left: 180px;
    margin-top: 96px;

    font-family: Proxima Nova, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    float: left;
    align-items: center;
    text-align: center;

    color: #2A496B;
    display: inline-block;
}

#firstLine {
    margin-left: 150px;
    margin-top: 143px;
    display: inline-block;
}

#secondLine {
    margin-left: 420px;
    margin-top: 114px;
    display: inline-block;
}

.content {
    width: 493px;
    height: 38px;
    margin-left: 40px;
    display: inline-block;
}

.content img {
    display: block;
    margin: 0 auto;
}

.content .titleContent {
    font-family: Proxima Nova, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.content .descContent {
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

#footerGroupIcon {
    margin-top: 44px;
    margin-bottom: 208px;
}

#footerGroup1 {
    width: 227px;
    height: 170px;

    margin-top: 89px;
    margin-left: 373px;
    margin-bottom: 87px;

    display: inline-block;
}

#footerGroup2 {
    width: 227px;
    height: 108px;

    margin-top: 89px;
    margin-left: 40px;
    margin-bottom: 123px;

    display: inline-block;
}

#footerGroup3 {
    width: 227px;
    height: 133px;

    margin-top: 98px;
    margin-left: 307px;
    margin-bottom: 89px;

    display: inline-block;
}

.footerP {
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    width: 170px;

    color: #FFFFFF;
}

.footerInfo {
    font-family: Proxima Nova, sans-serif;
    font-size: 15px;
    width: 170px;

    color: #A9C5E0;
}

footer {
    width: 100%;
    height: 320px;
    padding-top: 51px;
    margin-top: 140px;
    background: #23415E;
}